
.heading {
  margin-left: 8.5rem;
}

#form {
  height: 25rem;
  width: 30rem;
}

input {
  height: 100%;
  width: 100%;
}

#links {
  font-family: Arial, serif;
  margin: 6rem auto 0;
  width: 90%;
}


#passReset {
  float: right;
}

#register {
  float: left;
}

.input-container {
  height: 2rem;
  width: 13rem;
  margin: 2rem auto auto;
}

#submitButton {
  width: 6rem;
  height: 2rem;
  margin: 0 auto;
  margin-top: 3rem;
}






